// FONT
$default-font-color: rgb(36, 36, 36);
$default-font-size: 1.7rem;



// COLOR
$color-dark-gray: rgb(36, 36, 36);
$color-medium-gray: rgb(199, 199, 199);
$color-light-gray: rgb(228, 228, 228);

$color-success: #3cc552;
$color-red: #cc3d3d;
$color-blue: #6251ff;

$color-full-white: #fff;


// DIMENSIONS
$border-radius: 10px;
$btn-padding: 1rem 3rem;
