@import './../styles/abstracts/variables';

main {
  background: url(../assets/geometry.png);
  height: 100%;
  overflow: auto;
}

[class^="section-"] {
  padding: 3rem;

  &:not(:first-child) {
    background-color: $color-full-white;
    border-radius: $border-radius;
    margin: 1rem;
    box-shadow: 1px 1px 20px rgba(0,0,0,.3);
  }

  & > *:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.container {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  max-width: 120rem;
  padding: 2rem 0 2rem 0;

  // uncomment to visualize section boundaries
  & > * {
    // border: 1px solid blue;
  }

  // move to title-section component
  .section-title {
    flex: 100;
  }

  .section-listing {
    display: flex;
    flex-flow: column nowrap;
    flex: 70;

    .movie-list {
      & > *:not(:last-child) {
       margin-bottom: 3rem;
      }

      .page-control {
        display: flex;
        justify-content: space-between;


        &__btn {
          height: 3.5rem;
          width: 3.5rem;
          border-radius: 50%;
          transition: all .2s;

          &:hover {
            background: $color-light-gray;
          }

          &:active {
            background: darken($color-light-gray, 15%);
          }

          &--hidden {
            visibility: hidden;
          }
        }

        &__icon {
          display: block;
        }
      }
    }


  }

  .section-filter {
    width: 100%;
  }

  .section-nominated {
    flex: 30;
  }
}
