<div class="container">
  <div class="filter">
    <input type="text" #thisInput (input)="onKey($event.target.value)" />
  </div>
  <div class="listing">
    <ng-container *ngIf="movies$ | async as movies; else carregando">
      <ul>
        <li *ngFor="let movie of movies">
          <input
          type="checkbox"
          [checked]="isMovieSelected(movie.imdbID)"
          [name]="movie.Title"
          [id]="movie.Title"
          [disabled]="isSelectionDisabled() && !thisCheckbox.checked"
          (input)="onMovieCheck($event.target.checked, movie)"
          #thisCheckbox>
          <label [for]="movie.Title">{{ movie.Title }}</label>
        </li>
      </ul>
    </ng-container>
    <ng-template #carregando>
      <h1>CARREGANDO</h1>
    </ng-template>
  </div>
  <div class="nominated">
    <ng-container *ngIf="nominatedMovies.length > 0; else empty">
      <ul>
        <li *ngFor="let movie of nominatedMovies">
          {{ movie.Title }}
          <button (click)="removeNominated(movie.imdbID)">X</button>
        </li>
      </ul>
      <button (click)="clearNominated()">Clear All</button>
    </ng-container>
    <ng-template #empty>
      <small>Start choosing your nominated movies</small>
    </ng-template>
  </div>
</div>
