@import "./../styles/abstracts/variables";
@import "./../styles/abstracts/mixins";

main {
  background: url(../assets/geometry.png);
  height: 100%;
  overflow: auto;
}

[class^="section-"] {

  &:not(:first-child) {
    background-color: $color-full-white;
    border-radius: $border-radius;
    margin: 1.5rem;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
  }

  & > *:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.container {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  max-width: 100rem;
  padding-bottom: 3rem;

  // uncomment to visualize section boundaries
  & > * {
    // border: 1px solid blue;
  }

  // move to title-section component
  .section-title {
    flex: 100;
  }

  .section-filter {
    width: 100%;

    .search-input {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      padding: 4rem;

      &__field {
        font-family: "Montserrat", sans-serif;
        padding-bottom: .5rem;
        padding-top: .5rem;
        padding-left: 1rem;
        width: 100%;
        max-width: 50rem;
        font-size: 2.4rem;
        border: none;
        border-bottom: 1px solid $color-dark-gray;
        transition: all .2s;

        &:focus, &:active {
          outline: none;
          background: $color-light-gray;
        }
      }

      &__icon {
        display: block;
        transform: translate(-3.7rem);
        font-size: 3rem;
      }
    }
  }

  .section-listing {
    display: flex;
    flex-flow: column nowrap;
    flex: 60;

    .movie-list {
      & > *:not(:last-child) {
        margin-bottom: 3rem;
      }

      .page-control {
        padding: 0 10rem;
        display: flex;
        justify-content: space-between;

        &__btn {
          height: 3.5rem;
          width: 3.5rem;
          border-radius: 50%;
          transition: all 0.2s;

          &:hover {
            background: $color-light-gray;
          }

          &:active {
            background: darken($color-light-gray, 15%);
          }

          &--hidden {
            visibility: hidden;
          }
        }

        &__icon {
          display: block;
          font-size: 2rem;
        }
      }

      .movie-items {
        padding: 0 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5rem;
        padding-bottom: 3rem;
        @include respond(tab-port) {
          grid-template-columns: 1fr;
        }

        .movie-item {
          border-radius: $border-radius;
        }
      }
    }
  }

  .section-nominated {
    flex: 40;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: sticky;
    top: 1.3rem;
    height: fit-content;
  }
}
