@import '../../../../styles/abstracts/variables';
@import '../../../../styles/abstracts/mixins';
@import '../../../../styles//base/animations';

* {
  transition: all .2s;
}

.movie-card {
  width: 90%;
  margin: 0 auto;
  border-radius: $border-radius;
  background: $color-full-white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 20px rgba(0,0,0,.3);
  border-bottom-right-radius: 8rem;
  border-top-right-radius: 8rem;

  &:hover {
    background: darken($color-full-white, 7.5%);
  }

  &__text {
    align-self: flex-start;
    flex: 60;
    padding: 2rem;

    &--title {
      font-weight: 800;
      font-size: 2rem;
    }
  }

  &__image {

    background: $color-light-gray;
    position: relative;
    width: 10rem;
    height: 16rem;

    &--poster {
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
      width: 100%;
      height: 100%;
    }

    &--fallback {
      @include forceCenter;
    }
  }

  &__button {
    flex: 30;
    display: flex;
    justify-content: center;

    &--icon {
      display: block;
      font-size: 3.5rem;
    }

    &--nominate {
      transition: all .2s;
      height: 6rem;
      width: 6rem;
      padding: 1rem;
      margin: 3rem;
      border: none;
      cursor: pointer;
      color: $color-full-white;
      font-family: 'Roboto';
      border-radius: 50%;
      background: $color-success;

      &:hover:not(:disabled) {
        transform: scale(1.05);
      }

      &:active:not(:disabled), &:focus:not(:disabled) {
        background: darken($color-success, 15%);
        transform: scale(0.95);
      }

      &:disabled {
        background: $color-light-gray;
        cursor: default;
      }
    }
  }

  // checking boundaires
  & > * {
    // border: 1px solid green;
  }
}
